@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow",
sans-serif;
$font-02: "Barlow Condensed",
sans-serif;

$c-01: #B5C2C8;
$c-02: #DCE1E4;
$c-03: #E6EAEC;
$c-04: #F8F7F3;
$c-05: #76CCE0;

$neu-01: #f5f5f5;
$neu-02: #eaeaea;
$neu-03: #ebebeb;
$neu-04: #b7b7b7;
$neu-05: #9c9c9c;
$neu-06: #404145;
$neu-07: #1c1c1e;

$m-01:#5b4ad6;
$m-02: #9225f0;

$g-01: linear-gradient(45deg, #5b4ad6, #9225f0);

:root {
    --bg: #e7e6ed;
    --bgOpacity: 0.85;
    --bgHeader: rgba(255, 255, 255, 0.7);
    --headerShadow: 0px -20px 20px 20px rgba(0, 0, 0, 0.4);
    --bgFooter: rgba(255, 255, 255, 0.5);
    --text: #625e68;
    --logo: url("../assets/logo.svg");
    --error: #c62c2c;

    --itemShadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.4);
    --itemFilter: #1c1c1e;
    --itemGradient: linear-gradient(#1c1c1e 30%, transparent 50%);

    --btnBg: linear-gradient(45deg, #5b4ad6, #9225f0);
    --btnShadow: 0px 6px 20px -8px #9225f0;
    --btnHover: 0px 0px 0px 0px #9225f0;

    --formBg: white;
    --formShadow: inset 0px 0px 0px 1px #aeaeae, 0px 6px 35px -16px #9225f0;
    --formHover: inset 0px 0px 0px 1px #9225f0;

    --toggleBg: #fff;
    --toggleShadow: inset 0px 0px 0px 1px #aeaeae, 0px 4px 20px -6px #9225f0;
    --toggleBall: #dfdfdf;
    --toggleText: #3434346d;

    --iconLinkedin: url("../assets/linkedin-b.svg");
    --iconDribbble: url("../assets/dribbble-b.svg");
    --iconCodepen: url("../assets/codepen-b.svg");

}

[data-theme="dark"] {
    --bg: #212124;
    --bgOpacity: 0.85;
    --bgHeader: rgba(18, 18, 18, 0.6);
    --headerShadow: 0px -20px 20px 20px rgba(0, 0, 0, 0.8);
    --bgFooter: #15161782;
    --text: #c3bcc7;
    --logo: url("../assets/logo_white.svg");
    --error: #ff6262;

    --itemShadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.8);
    --itemFilter: #131313;
    --itemGradient: linear-gradient(#131313 30%, transparent 50%);

    --btnBg: linear-gradient(45deg, #5b4ad6, #9225f0);
    --btnShadow: 0px 10px 30px -5px #131313;
    --btnHover: 0px;

    --formBg: #232324;
    --formShadow: inset 0px 0px 0px 1px #797979, 0px 6px 40px -5px #131313;
    --formHover: inset 0px 0px 0px 1px #9225f0;

    --toggleBg: #2f2f30;
    --toggleShadow: inset 0px 0px 0px 1px #797979, 0px 8px 10px 0px #181818;
    --toggleBall: linear-gradient(45deg, #5b4ad6, #9225f0);
    --toggleText: #7e7e7e;

    --iconLinkedin: url("../assets/linkedin.svg");
    --iconDribbble: url("../assets/dribbble.svg");
    --iconCodepen: url("../assets/codepen.svg");
}

@mixin m {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin s {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 360px) {
        @content;
    }
}

@mixin delay {
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.2}s;
        }
    }
}

@mixin transition {
    transition: all 0.2s ease;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    button {
        background: transparent;
    }
}

body {
    font-family: $font-01;
    background-image: url("../assets/moviesbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    width: 100%;
    height: calc(100% - 80px);
    position: relative;

    &:before,
    &:after {

        content: '';
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--bg);
        z-index: -1;
        opacity: var(--bgOpacity);
        transition: all, 0.2s ease, transform 0.6s 0.2s ease;
    }

    &:after {
        opacity: 0;
        transform: translateY(100%);
    }

    &.enter {

        &:after {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}

.btn {
    height: 40px;
    padding: 0 24px;
    background: var(--btnBg);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 8px;
    letter-spacing: 1.5px;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: var(--btnShadow);


    &:focus {
        outline: 0;
    }

    &:hover {
        transform: translateY(3px);
        box-shadow: var(--btnHover);
    }
}

.link {
    position: relative;
    font-weight: 600;

    &:before,
    &:after {
        @include transition();
        content: '';
        width: 100%;
        height: 2px;
        border: 2px;
        background: $g-01;
        position: absolute;
        z-index: -1;
        bottom: -1px;
        right: 0;
        transition: all 0.2sease;
    }

    &:after {
        left: 0;
        width: 0;
        transition-delay: 0.2s;
    }

    &:hover {
        &:before {
            width: 0%;
        }

        &:after {
            width: 100%;
        }
    }
}

.header {
    @include transition();
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: var(--text);

    @include m {
        padding: 16px 24px;
        align-items: flex-start;
    }

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        left: 0;
        background-color: var(--bgHeader);
        backdrop-filter: blur(10px);
        box-shadow: var(--headerShadow);
        z-index: -1;
        transition: all 0.4s ease;
        opacity: 0;
    }

    &__logo {
        @include transition();
        z-index: 2;
        width: 100px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        background-image: var(--logo);

        h1 {
            opacity: 0;
            user-select: none;
        }

        @include s {
            width: 80px;
            height: 40px;
            transform: translateY(-8px);
        }

    }

    &__changeTheme {
        display: flex;
        justify-content: center;
        align-items: center;

        @include s {
            transform: translateY(4px);
        }
    }

    &__toggle {
        background-color: var(--toggleBg);
        cursor: pointer;
        width: 48px;
        height: 28px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        position: relative;
        box-shadow: var(--toggleShadow);
        z-index: 1;



        span {
            display: block;
            width: 18px;
            height: 18px;
            background: var(--toggleBall);
            border-radius: 100%;
            left: 4px;
            position: absolute;
            transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);

        }

        &.on {
            span {
                transform: translateX(calc(100% + 4px));
            }
        }
    }

    &__toggleText {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: var(--toggleText);
        margin-right: 8px;
    }

    &.sticky {

        @include m {
            height: 140px;
        }

        &:before {
            opacity: 1;
            top: 0;
        }
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: none;
    z-index: 2;
    padding: 0px 40px;

    @include m {
        width: 100%;
        padding: 0 24px;
    }

    &__btn {
        @include s {
            padding: 0 16px;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.4s ease;

        @include s {
            width: 100%;
        }
    }

    &__input {
        @include transition();
        width: 300px;
        padding: 10px 16px;
        border-radius: 8px;
        border: 0;
        color: var(--text);
        font-weight: 600;
        box-shadow: var(--formShadow);
        height: 40px;
        box-sizing: border-box;
        background-color: var(--formBg);
        font-size: 14px;
        font-family: $font-01;
        letter-spacing: 0.8px;
        font-weight: 500;
        position: relative;

        @include s {
            width: 100%;
        }

        &:focus {
            outline: 0;
            box-shadow: var(--formHover);
        }

        &::placeholder {
            color: #ccc;
        }

        &.inputError {
            box-shadow: inset 0px 0px 0px 1px var(--error);
        }

    }

    &__error {
        color: var(--error);
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-top: 8px;
        margin-left: 4px;
        display: flex;
        position: absolute;
        left: 0;
        bottom: -24px;
        transform: translatex(40px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

        &.showError {
            transform: translatex(0px);
            opacity: 1;
            visibility: visible;
        }
    }

    &__field {
        margin-right: 24px;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;


        @include s {
            margin-right: 16px;
        }

        label {
            //visibility: hidden;
            position: absolute;
            opacity: 0;
        }
    }

    &__close {
        position: absolute;
        right: 8px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        display: none;

        svg {
            fill: $m-02;
        }
    }

    &.clicked {
        top: 120px;
        transition: all 0.4s ease;

        @include m {
            top: 120px;
        }

    }

    &.fixed {
        top: 40px;
        position: fixed;
        //transition: none;

        @include m {
            top: 100px;
        }
    }


}

.options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 120px;
    display: none;
    animation: options 0.4s 0.6s ease backwards;

    @include m {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: calc(120px + 32px);
    }

    @keyframes options {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }

    }

    .searchWords {
        //display: flex;
        color: var(--text);
        font-size: 20px;
        letter-spacing: 0.5px;
        margin-right: 8px;

        strong {

            color: $m-02;
            display: inline-flex;
        }

        @include m {

            margin-bottom: 32px;
        }

        @include s {
            font-size: 16px;
        }

    }

    .filters {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__item {
            margin: 0 10px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 600;
            font-size: 12px;
            color: var(--text);
            background-color: var(--toggleBg);
            padding: 4px 8px;
            border-radius: 4px;

            &.selected {
                background: $g-01;
                color: white;
            }
        }

    }
}

#app {
    margin: 0 auto;
    max-width: 1560px;
    padding: 80px 40px;
    margin: 0 auto;
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;

    @include m {
        min-height: auto;
        padding: 40px 24px;
    }

    .loadMore {
        display: none;
    }
}

.movies {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    padding: 60px 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    transition: all 0.4s ease;
    z-index: 1;


    @include m {
        grid-template-columns: 1fr 1fr;
    }

    @include xs {
        grid-template-columns: 1fr;
    }

}

.item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: black;
    box-sizing: border-box;
    border-radius: 10px;
    height: 400px;
    position: relative;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    transition: all 0.3s cubic-bezier(0.67, 0.39, 0.1, 1.38);
    box-shadow: var(--itemShadow);
    animation: item 0.4s ease backwards;
    //@include delay();

    @keyframes item {
        0% {
            opacity: 0;
            transform: translateY(40px);
        }
    }

    @include m {
        height: 300px;
    }

    @include s {
        height: 260px;
    }


    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.6s ease-out;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &:before {
            content: '';
            position: absolute;
            background-color: var(--itemFilter);
            width: 100%;
            height: 100%;
            opacity: 0.3;
            transition: all 0.4s ease;

        }

        &:after {
            content: '';
            position: absolute;
            background: var(--itemGradient);
            width: 100%;
            height: 100%;
            opacity: 0.8;
            transition: all 0.4s ease;
            box-shadow: inset 0px 0px 0px 400px rgba(26, 35, 47, 0);

        }

    }

    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 32px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include s {
            padding: 16px;
        }
    }

    &__year {
        font-size: 16px;

        @include s {
            font-size: 14px;
        }

    }

    &__title {
        font-size: 20px;
        font-family: $font-02;
        font-weight: 500;
        margin-top: 8px;

        @include s {
            font-size: 18px;
        }
    }

    &__view {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease;
        position: relative;
        font-weight: 500;
        position: absolute;
        bottom: 30px;
        left: 30px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;

        @include s {
            display: none;
        }



        &:after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url("https://rafaelalucas91.github.io/assets/icons/white/icon-12.svg");
            right: -20px;
            transform: translateX(0px);
            transition: all 0.3s 0.2s ease;
        }
    }

    &:hover {
        transform: translateY(-8px);
        box-shadow: none;

        .item {
            &__view {
                opacity: 1;
                transform: translateY(0px);

                &:after {
                    transform: translateX(10px);
                }

            }

            &__image {
                transform: scale(1.15);

                &:before {
                    opacity: 0.9;

                }

                &:after {
                    box-shadow: inset 0px 0px 0px 400px rgba(26, 35, 47, 0.2);
                }


            }
        }
    }
}

.noResults {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text);
    font-size: 32px;
    font-weight: bold;
    opacity: 0.2;
    letter-spacing: 0.5px;
    display: none;
    animation: search 0.4s 0.3s ease backwards;
    width: 100%;
    padding: 0 40px;
    justify-content: center;
    text-align: center;

    @include m {
        padding: 0 24px;
    }

    @include s {
        font-size: 24px;
    }

}

.backTop {
    width: 40px;
    height: 40px;

    border-radius: 100%;
    right: 24px;
    bottom: 24px;
    position: fixed;
    z-index: 2;
    opacity: 0;
    background: $g-01;
    transform: translatey(50px);
    transition: transform 0.4s ease, opacity 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url("../assets/arrowup.svg");
        background-size: contain;
        border-radius: 100%;
        z-index: 1;
        transition: all 0.3s ease;
    }

    &:after {
        transform: translatey(40px);
    }

    &:hover {
        &:before {
            transform: translatey(-40px);
        }

        &:after {
            transform: translatey(0px);
        }
    }

    &.show {
        opacity: 1;
        transform: translatey(0);
    }

}

.footer {
    @include transition();
    width: 100%;
    height: 80px;
    bottom: 0;
    background-color: var(--bgFooter);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;

    @include m {
        height: 120px;
        flex-direction: column;

    }

    &__text {
        opacity: 0.75;

        @include s {
            margin-bottom: 24px;
        }
    }

    &__icons {
        display: flex;
    }

    &__icon {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-position: center;
        display: flex;
        justify-content: center;
        margin-right: 24px;
        cursor: pointer;
        position: relative;
        @include transition();

        p {
            position: absolute;
            opacity: 0;
            user-select: none;
        }

        &:last-child {
            margin-right: 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            background: $g-01;
            opacity: 1;
            border-radius: 100%;
            top: -8px;
            opacity: 0;
            transition: all 0.2s ease;
        }

        span {
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }

        &.linkedin {
            span {
                background-image: var(--iconLinkedin);
            }
        }

        &.dribbble {
            span {
                background-image: var(--iconDribbble);
            }
        }

        &.codepen {
            span {
                background-image: var(--iconCodepen);
            }
        }

        &:hover {
            opacity: 1;
            transform: translateY(4px);

            span {
                opacity: 1;
            }

            &:before {
                opacity: 1;
            }
        }
    }
}